*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #1c6e41 ,#dae025);
    padding: 20px;
}

.calculator{
    width: 100%;
    max-width: 400px;
    margin-left: 10%;
    margin-top: 10%;
}

h2{
    font-size: 60px;
    font-weight: bolder;
    color: azure;
}   

.input1{  
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255,0.3);
    border-radius: 10px;
    padding: 8px;
    margin: 40px 0;
}

.input1 input{
    flex: 2;
    margin-right: 5px;
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 10px;   
    padding: 14px 20px; 
    position: relative;
}

.input1 button{  
    flex:1;
    margin-right: 2px;
    border: 0;
    outline:0;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    position:relative;
    padding:14px 20px; 
} 

#data{
    background-color: rgb(251, 255, 0);
}

p{
    color: #ffffff;
    font-size: larger;
    font-weight: bolder;
}

